<footer class="footer">
  <div class="text-center">
    <span>{{version}}</span>
    <span> © 2018 Copyright: <a href="https://github.com/mathieuaime/">Mathieu Aimé</a></span>
    <a href="www.github.com/mathieuaime/happy-hour-finder-server"><img
      src="https://github.githubassets.com/favicon.ico"/></a>
    <a href="https://sonarcloud.io/dashboard?id=com.mathieuaime%3Ahappy-hour-finder-backend"><img
      src="https://sonarcloud.io/favicon.ico"/></a>
    <a href="https://circleci.com/gh/mathieuaime/happy-hour-finder-server"><img
      src="https://dmmj3mmt94rvw.cloudfront.net/favicon-undefined.ico"/></a>
  </div>
</footer>
